@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Welcome to TravelTour!</h1>
    <p>@ViewBag.test</p>
    @if (!ViewBag.loggedin)
    {
        <p align="center"><a href="~/Home/SignInOrRegister">Sign in or register</a></p>
    }
    else
    {
        <p align="center"><a href="~/Home/LogOut">Log out</a></p>
    }

    @using (Html.BeginForm("ViewOptions", "Home", FormMethod.Get))
    {
        <p>
            Select the best place for you:
            <select id="place" name="place">
                @foreach (var key in ViewBag.places.Keys)
                {
                    <option value="@key">@ViewBag.places[key]</option>
                }
            </select>
        </p>

        <p>
            Date: from
            <input type="date" id="start" name="start"
                   min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day">
            to
            <input type="date" id="end" name="end"
                   min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day">
        </p>

        <p>
            Price: from
            <input type="number" id="low" name="low"
                   min="0" step="1">
            to
            <input type="number" id="high" name="high"
                   min="0" step="1">
        </p>

        <p>
            Sort: <select id="sorter" name="sorter">
                <option value="0">Default</option>
                <option value="1">By price (from lowest to highest)</option>
                <option value="2">By price (from highest to lowest)</option>
            </select>
        </p>

        <input type="submit" value="Search" />
    }
</body>
</html>