
@{
    ViewBag.Title = "ShowTour";
}

<h2>@ViewBag.markettitle in @ViewBag.hotel, @ViewBag.destination</h2>
<p>Departure: @ViewBag.dateFirst</p>
<p>Arrival: @ViewBag.dateSecond</p>
<p>Price: @ViewBag.price UAH</p>
<button>Book!</button>

